

.wrap{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

section,header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: gray;
}

.in_header,.container{
    max-width: 1050px;
    width: 100%;
    background-color: lightgray;
}

.container{
    padding: 250px 0;
}